 
 
.navbar-brand {
    font-size: 14px !important;
    font-weight: 500;
    color: #fff !important;
  }
  .naav {
    background-color:red;
    position: sticky !important;
    top: 0;
    z-index: 1100 !important;
  }
  .naav .menu-icon {
    color: #fff !important;
  }
  .naav .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 500px !important;
    color: #fff !important;
  }
  
.EdittingNavBar:hover{
    background-color: white;
    color: black !important;
  } 